**/.terraform
*terraform.tfstate*
02_first_cluster/terraform/provisioning/ansible-inventory 
02_first_cluster/terraform/provisioning/ansible-vars
02_first_cluster/terraform/account_vars.tf
02_first_cluster/terraform-arm/provisioning/ansible-inventory 
02_first_cluster/terraform-arm/provisioning/ansible-vars
02_first_cluster/terraform-arm/account_vars.tf
