# Registry entries.
registry: ${registry_ips}
# API endpoint to talk to
api_service: ${api_ip}
# A valid DNS entry for the S3 endpoint
s3_endpoint: s3.quobyte.local
# Define your storage network
network: ${net_cidr}
# Where should volumes be automatically mounted?
mountpoint: /quobyte
# Select a dedicated device for the metadata service
metadatadevices: sdb
# Name of your Quobyte cluster
clustername: ${cluster_name}
# Quobyte admin user
admin_user: storageadmin
# Quobyte admin user password. Consider ansible vault etc.
admin_password: changeMe
# Path to license file
license_file: /home/deploy/license.txt
# How many servers should run Quobyte core services?
clustersize: 3
# If you set a repo id you probably want to install Quobyte 2.x
## repo_id: 2dxxxxc327Cfyyyasfd
