global:
  scrape_interval:     15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).
  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
      monitor: 'example'
alerting:
  alertmanagers:
  - static_configs:
    - targets: ['localhost:9093']
rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: 'prometheus'
    # Override the global default and scrape targets from this job every 5 seconds.
    scrape_interval: 5s
    scrape_timeout: 5s
    # metrics_path defaults to '/metrics'
    # scheme defaults to 'http'.
    static_configs:
      - targets: ['localhost:9090']
  - job_name: node
    # If prometheus-node-exporter is installed, grab stats about the local
    # machine by default.
    static_configs:
            - targets: ['localhost:9100']
  - job_name: testing
    metrics_path: /prometheus
    consul_sd_configs:
      - server: {{ registry }}:7871
        datacenter: {{ clustername }}
    relabel_configs:
      - source_labels: [job]
        target_label: quobyte_cluster
      - source_labels: [__meta_consul_service]
        target_label: service_type
      - source_labels: [__meta_consul_service_address]
        target_label: instance
    metric_relabel_configs:
      - action: labeldrop
        regex: 'service_uuid|client_uuid'
      - action: drop
        source_labels: [__name__]
        regex: '.*client:top_.*'

